@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

.contact {
  padding: 30px 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    font-family: "Old Standard TT", serif;
    color: #884b49;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
    color: #555;
    margin-bottom: 30px;
  }

  .contact-info,
  .social-media,
  .contact-form,
  .map {
    margin-bottom: 20px;

    h3 {
      color: #884b49;
      margin-bottom: 10px;
      text-align: center;
    }

    p,
    a {
      color: #333;
      text-decoration: none;

      &:hover {
        color: #884b49;
      }
    }
  }

  .social-media ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;

    li {
      display: inline;

      a {
        color: #555;

        i {
          margin-right: 8px;
        }

        &:hover {
          color: #884b49;
        }
      }
    }
  }

  .contact-form {
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;

      label {
        color: #333;
        text-align: left;
        width: 100%;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: none;

        &:focus {
          border-color: #884b49;
          outline: none;
        }
      }

      button {
        padding: 10px 20px;
        background-color: #884b49;
        color: white;
        border: none;
        font-size: 20px; // override du style global
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #5d7c6d;
        }
      }
    }
  }

  .map {
    iframe {
      border: 0;
      width: 100%;
      height: 300px;
      border-radius: 8px;
    }
  }

  @media (max-width: 468px) {
    padding: 15px;

    .contact-info,
    .social-media,
    .contact-form,
    .map {
      margin-bottom: 10px;

      h3 {
        padding: 10px 0;
      }
    }

    .social-media ul {
      gap: 5px;
    }

    .contact-form form button {
      padding: 6px 10px;
    }

    .map iframe {
      height: 200px;
    }
  }
}
