/* src/app/about/about.component.scss */
.about {
  padding: 20px;
  h2 {
    font-family: 'Old Standard TT', serif;
    color: #b33;
  }
  img {
    width: 100%;
    border: 5px solid #ccc;
    margin-top: 20px;
  }
}
