<!-- about.component.html -->
<div class="about">
  <h2>À propos</h2>
  <p>
    Nom de la tatoueuse : Poopyto <br> Sakura Ink est une artiste tatoueuse
    talentueuse, passionnée par les animés et la culture des années 80/90. Avec
    une maîtrise inégalée de l'encre, elle transforme chaque peau en une toile
    vibrante, mêlant habilement nostalgie et modernité. Style et Inspiration
    Inspirée par les icônes de l'animation japonaise et les tendances rétro,
    Sakura crée des œuvres qui capturent l'essence de séries cultes comme
    "Sailor Moon", "Dragon Ball", et "Akira". Ses tatouages reflètent une
    palette de couleurs vives et des détails minutieux, évoquant l'esthétique
    unique des années 80/90. Philosophie Artistique Pour Sakura, chaque tatouage
    est une histoire personnelle. Elle prend le temps de comprendre les désirs
    et les inspirations de ses clients, pour concevoir des pièces sur mesure qui
    résonnent profondément avec eux. Son approche bienveillante et son souci du
    détail font d'elle une artiste de confiance, capable de transformer des
    idées en œuvres d'art intemporelles. Expérience et Engagement Avec plusieurs
    années d'expérience dans l'industrie du tatouage, Sakura Ink est reconnue
    pour son professionnalisme et sa créativité débordante. Elle est constamment
    à la recherche de nouvelles techniques et s'inspire des tendances actuelles
    tout en restant fidèle à ses influences rétro. Studio et Ambiance Son
    studio, un véritable sanctuaire de la pop culture, est décoré avec des
    affiches d'animés, des figurines vintage et des objets emblématiques des
    années 80/90. C'est un lieu où les passionnés se sentent chez eux, prêts à
    embarquer dans un voyage artistique unique. Sakura Ink, c'est la fusion
    parfaite entre la passion des animés, l'amour des années 80/90 et le talent
    artistique. Ses tatouages ne sont pas seulement des œuvres d'art, mais des
    célébrations de la culture et de la nostalgie.
  </p>
</div>
