/* src/app/footer/footer.component.scss */
footer {
  color: #2F4858;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  bottom: 0;

  .separate-ligne {
    width: 40%;
    height: 1px;
    background-color: darkgrey;
    margin: 20px auto; /* Ajout de marge pour espacer */
  }

  p {
    margin: 0;
    font-size: 0.9em;

    &:last-of-type {
      margin-top: 5px;
      font-size: 0.8em;
    }
  }
}
