<!-- src/app/pages/gallery/gallery.component.html -->
<div class="gallery">
  <h2>Galerie de flash</h2>
  <p>Découvrez tous mes flashs faits à la tablette ou dessinés. <br> Chaque tatouage est une œuvre d'art unique réalisée avec soin et passion.</p>
  <div class="photos">
    <img src="assets/IMG_5156.jpg" alt="Flash 2">
    <img src="assets/IMG_5154.jpg" alt="Flash 3">
    <img src="assets/IMG_5157.jpg" alt="Flash 1">
    <img src="assets/IMG_5151.jpg" alt="Flash 4">
    <img src="assets/IMG_5150.jpg" alt="Flash 5">
    <img src="assets/IMG_5149.jpg" alt="Flash 6">
    <img src="assets/IMG_5148.jpg" alt="Flash 7">
    <img src="assets/IMG_5146.jpg" alt="Flash 8">
    <img src="assets/IMG_5145.jpg" alt="Flash 9">
    <img src="assets/IMG_5144.jpg" alt="Flash 10">
    <img src="assets/IMG_5135.jpg" alt="Flash 11">
    <img src="assets/IMG_5134.jpg" alt="Flash 12">
  </div>
</div>
