/* src/app/gallery/gallery.component.scss */
.gallery {
  padding: 20px;
  h2 {
    font-family: 'Old Standard TT', serif;
    color: #b33;
  }
  .photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    img {
      width: 100%;
      border: 5px solid #ccc;
      &:hover {
        filter: sepia(50%);
      }
    }
  }
}
