.gallery {
  text-align: center;
  padding: 20px;

  h2 {
    font-family: 'Old Standard TT', serif;
    color: #884B49;
    margin-bottom: 20px;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #555;
    margin-bottom: 40px;
  }

  .photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 0 20px;

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      filter: grayscale(100%);
      transition: all 0.3s ease-in-out;
      border: 5px solid #ccc;
      border-radius: 8px;

      &:hover {
        filter: none;
        transform: scale(1.1) rotate(3deg); /* Zoom and rotate effect */
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
      }
    }
  }
}
