/* src/app/gallery/gallery.component.scss */
.gallery {
  padding: 30px 20px; // Marges extérieures de 30px en haut et 20px sur les côtés
  gap: 25px; // Espace entre les sections de la galerie

  h2 {
    font-family: 'Old Standard TT', serif;
    color: #884B49;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
  }

  .photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px; // Espace entre les photos
    margin: 40px 20px;

    img {
      width: 100%;
      height: 300px; // Hauteur fixe pour toutes les images
      object-fit: cover; // Pour conserver le ratio de l'image et la centrer
      filter: grayscale(100%); // Noir et blanc de base
      transition: filter 0.3s;
      border: 5px solid #ccc;

      &:hover {
        filter: none; // Revenir à l'état initial au survol
      }
    }
  }
}
