<!-- src/app/components/header/header.component.html -->
<header>
  <div class="poopyta-logo">
    <a routerLink="/">
      <img src="../../../assets/poopyta-logo.png" alt="logo de la tatoueuse" />
    </a>
  </div>
  <nav class="nav-bar">
    <ul>
      <li><a routerLink="" class="nav-link topBotomBordersOut">Home 🤗</a></li>
      <li><a routerLink="/gallery" class="nav-link topBotomBordersOut">Les flashs ✍🏽</a></li>
      <li><a routerLink="/contact" class="nav-link topBotomBordersOut">Contactez-moi ! 📞</a></li>
    </ul>
  </nav>
  <div class="separate-ligne"></div>
</header>
