/* src/app/home/home.component.scss */
.home {
  text-align: center;
  color: #333;
  padding: 20px;
  background-image: url('assets/images/background.jpg');
  background-size: cover;
  h1, h2 {
    font-family: 'Old Standard TT', serif;
  }
  img {
    width: 100%;
    border: 5px solid #ccc;
    margin-top: 20px;
  }
}
