<!-- src/app/home/home.component.html -->
<div class="home">
  <section class="welcome">
    <h1>Bienvenue chez Elina alias Poopyta 🌸</h1>
    <h2>Artiste tatoueuse à Bordeaux, Rue des Menuts</h2>
    <p>Je t'offre des tatouages uniques et personnalisés dans un cadre chaleureux et vintage.</p>
  </section>

  <div class="separate-ligne"></div>

  <section class="gallery">
    <h2>Mes Récentes Créations</h2>
    <div class="images">
      <img src="assets/tattoo1.jpg" alt="Tatouage 1">
      <img src="assets/tattoo2.jpg" alt="Tatouage 2">
      <img src="assets/tattoo3.jpg" alt="Tatouage 3">
      <img src="assets/tattoo4.jpg" alt="Tatouage 4">
      <img src="assets/tattoo5.jpg" alt="Tatouage 5">
      <img src="assets/tattoo6.jpg" alt="Tatouage 6">
      <img src="assets/tattoo7.jpg" alt="Tatouage 7">
      <img src="assets/tattoo8.jpg" alt="Tatouage 8">
      <img src="assets/tattoo9.jpg" alt="Tatouage 9">

    </div>
  </section>

  <div class="separate-ligne"></div>

  <section class="testimonials">
    <h2>Vos avis 💕</h2>
    <div class="testimonial">
      <p>"Une expérience incroyable! Le tatouage est magnifique et l'ambiance du studio est parfaite." - Marie</p>
    </div>
    <div class="testimonial">
      <p>"Un artiste talentueux avec une passion pour le détail. Je recommande vivement!" - Claire</p>
    </div>
  </section>

  <div class="separate-ligne"></div>

  <section class="call-to-action">
    <p>Prenez rendez-vous aujourd'hui pour créer votre prochaine œuvre d'art.</p>
    <button routerLink="/contact">Contactez-nous</button>  </section>
</div>
