<section class="gallery">
    <h2>Mes Récents Tattoos 🕸️</h2>
    <div class="images">
      <img src="assets/tattoo1.jpg" alt="Tatouage 1" />
      <img src="assets/tattoo2.jpg" alt="Tatouage 2" />
      <img src="assets/tattoo3.jpg" alt="Tatouage 3" />
      <img src="assets/tattoo4.jpg" alt="Tatouage 4" />
      <img src="assets/tattoo5.jpg" alt="Tatouage 5" />
      <img src="assets/tattoo6.jpg" alt="Tatouage 6" />
      <img src="assets/tattoo7.jpg" alt="Tatouage 7" />
      <img src="assets/tattoo8.jpg" alt="Tatouage 8" />
      <img src="assets/tattoo9.jpg" alt="Tatouage 9" />
    </div>
  </section>
  