<section class="testimonials">
  <h2>Vos précieux avis 🫶🏻</h2>
  <div class="testimonials-container">
    <div class="testimonial">
      <div
        class="avatar"
        style="
          background-image: url('https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&q=80&w=400');
        "
      ></div>
      <p>
        "Une expérience incroyable! Le tatouage est magnifique et l'ambiance du
        studio est parfaite." - Marie
      </p>
    </div>
    <div class="testimonial">
      <div
        class="avatar"
        style="
          background-image: url('https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&q=80&w=400');
        "
      ></div>
      <p>
        "Une artiste talentueuse avec une passion pour le détail. Je recommande
        vivement!" - Claire
      </p>
    </div>
    <div class="testimonial">
      <div
        class="avatar"
        style="
          background-image: url('https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&q=80&w=400');
        "
      ></div>
      <p>"Tatouages incroyables et un service amical. Je reviendrai!" - John</p>
    </div>
  </div>
  <div class="communication">
    <h3>Rejoignez-nous sur les réseaux sociaux !</h3>
    <div class="social-icons">
      <a
        href="https://facebook.com/votreprofil"
        target="_blank"
        class="social-icon"
      >
        <i class="fab fa-facebook-f"></i> Facebook
      </a>
      <a
        href="https://instagram.com/votreprofil"
        target="_blank"
        class="social-icon"
      >
        <i class="fab fa-instagram"></i> Instagram
      </a>
      <a
        href="https://twitter.com/votreprofil"
        target="_blank"
        class="social-icon"
      >
        <i class="fab fa-twitter"></i> Twitter
      </a>
    </div>
  </div>
</section>
