<section class="description">
    <p>
      Je m’appelle Elina, alias « Poopyta ». Passionnée par l’art du tatouage et
      l’esthétique vintage des années 80 à 2000, j’apporte une énergie
      débordante et une touche personnelle à chaque création. Mon parcours
      artistique m’a conduit à transformer chaque tatouage en une véritable
      œuvre d’art. Que vous cherchiez un design délicat ou une pièce audacieuse,
      je saurai réaliser votre vision avec précision et créativité. J’aime
      mélanger les styles rétro, graphique, et aquarelle, en explorant des
      thèmes variés tels que les motifs floraux, les animaux, et les symboles
      culturels. Mon objectif est de donner vie à vos idées et de créer des
      souvenirs indélébiles sur votre peau. Redonner confiance à travers le
      tatouage et valoriser toutes les peaux, notamment les peaux noires et
      métissées, est une mission qui me tient à cœur. <br />Ensemble, créons des
      œuvres d’art qui vous représentent et vous inspirent. <br />Bienvenue dans
      mon univers artistique ! À très vite !
    </p>
    <p>
      Les boutiques, <a href="https://www.yadlajwa.com/" target="_blank">Yadlajwa</a> et <a href="https://www.instagram.com/lolympebordeaux/" target="_blank">L'Olympe Bordeaux</a>, où est situé le studio, sont dans des endroits remplie de bonnes vibes et de bienveillance. Le salon de tatouage, situé en bas, vous accueille dans une ambiance chaleureuse pour une expérience de tatouage unique. 🌞
    </p>
  </section>
  