<section class="description">
  <p>
    Je suis Elina, alias « Poopyta », tatoueuse passionnée par le vintage des
    années 80 à 2000. J’allie rétro, graphique et aquarelle pour créer des
    tatouages uniques et personnalisés. Mon objectif est de valoriser toutes les
    peaux, notamment noires et métissées, pour redonner confiance à travers
    l’art. Entrez dans mon univers et transformons vos idées en œuvres d’art
    inoubliables. À très vite !
  </p>
  <p>
    Les boutiques,
    <a href="https://www.yadlajwa.com/" target="_blank">Yadlajwa</a> et
    <a href="https://www.instagram.com/lolympebordeaux/" target="_blank"
      >L'Olympe Bordeaux</a
    >, où est situé le studio, sont dans des endroits remplie de bonnes vibes et
    de bienveillance. Le salon de tatouage, situé en bas, vous accueille dans
    une ambiance chaleureuse pour une expérience de tatouage unique. 🌞
  </p>
</section>
